:root {
  --main-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Jura', sans-serif;
  --main-text-color: #707070;
  --background-color: #F2F3F1;
  --button-color: #B6DC76;
  --placeholder-color: #D2D1D4;
  --border-color: #758E4F;
  --radio-unchecked-bg: #D2D1D4;
  --radio-checked-bg: #D0F1BF;
  --settings-border: solid #D2D1D4 1px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main-font-family);
  color: var(--main-text-color);
  background-color: var(--background-color);
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1,
.input-title,
.btn-submit {
  font-family: var(--secondary-font-family);
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

form .radio-label {
  display: inline-block;
  width: 3.5rem;
  margin-right: -.3em;
  background-color: var(--radio-unchecked-bg);
  font-size: 14px;
  text-align: center;
  padding: .4em 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: none;
}

form .radio-label:hover,
.check-label:hover {
  cursor: pointer;
}

form input:checked + .radio-label {
  background-color: var(--radio-checked-bg);
  font-weight: bold;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out;
}

form .radio-label:first-of-type {
  border-radius: 10px 0 0 10px;
}

form .radio-label:last-of-type {
  border-radius: 0 10px 10px 0;
}

form {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 2fr .5fr;
  grid-gap: 1rem;
}

.input-title {
  grid-column: 1 / 3;
  justify-self: right;
}

.switch-wrapper {
  grid-column: 3 / 5;
}

form input[type="number"] {
  border-radius: 10px;
  padding: .4em .9em;
  width: 7rem;
  font-family: var(--main-font-family);
  text-align: center;
}

form input[type="number"]::placeholder {
  color: var(--placeholder-color);
  text-align: center;
}

.logo {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.init-form {
  transform: translateX(0);
  transition: transform 0.25s;
}

.slideOutLeft {
  height: 0;
  transform: translateX(-10000px);
  transition: height 0.25s, transform 0.75s;
}

label[for=btn-start] {
  grid-column: 1 / 5;
  grid-row: 4 / 5;
  font-size: 2rem;
  justify-self: center;
  color: var(--main-text-color);
  z-index: 999;
}

label[for=btn-start]:hover {
  text-shadow: 0px 0px 30px var(--button-color);
}

.hourly-input,
.yearly-input,
main {
  opacity: 0;
  transition: transform 1.5s;
}

.slideInDown {
  opacity: 1;
  transition: 1s;
}

#clouds {
  display: block;
  width: 85%;
  min-width: 280px;
  height: 10.3rem;
  margin: 0 auto;
  background-image: url("../img/icons/clouds.png");
  background-repeat: repeat-x;
  background-size: 17.5rem;
  background-position: top;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 3px solid var(--border-color);
  border-left: 3px solid var(--border-color);
  border-right: 3px solid var(--border-color);
  z-index: 999;
}

.rain-wrapper {
  width: 85%;
  height: 50vh;
  margin: -5rem auto -4.6rem auto;
  border: none;
  position: relative;
  border-left: 3px solid var(--border-color);
  border-right: 3px solid var(--border-color);
  border-bottom: 3px solid var(--border-color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: -999;
}

.falling-dollars,
.dollar-scene,
.dollar-scene div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.dollar-scene {
  bottom: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.dollar-scene div {
  width: 20px;
  height: 20px;
  background: url(../img/icons/cash.svg) no-repeat;
  background-size: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

.money-counter {
  font-family: 'Roboto Mono', monospace;
  display: block;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  color: var(--button-color);
  margin: -5rem auto 0 auto;
  width: 85%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#timer {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  font-size: 1.5rem;
}

.money-counter .tenths {
  color: var(--radio-checked-bg);
}

.control-bar,
.settings {
  width: 100%;
  text-align: center;
  transition: 0.5s;
}

.control-bar div {
  display: inline-block;
  text-align: center;
  margin: 0 1.83rem;
}

#btn-play-pause ~ .checked,
#btn-sound ~ .unchecked {
  display: none;
}

#btn-play-pause:checked ~ .unchecked,
#btn-sound:checked ~ .checked {
  display: none;
}

#btn-play-pause:checked ~ .checked,
#btn-sound:checked ~ .unchecked {
  display: inline-block;
}

.check-label {
  display: inline-block;
  height: 3rem;
  width: 3rem;
  background: url(../img/icons/sprite.svg) no-repeat;
  background-size: 12rem 6rem;
}

.check-label span {
  display: none;
}

#btn-play-pause:checked ~ .btn-start .unchecked span,
#btn-sound:checked ~ .btn-start .checked span {
  display: inline-block;
}

.btn-submit {
  display: inline-block;
  height: 3rem;
  width: 3rem;
  background: url(../img/icons/sprite.svg) no-repeat;
  background-size: 12rem 6rem;
  cursor: pointer;
  border: none;
  padding: 0;
  font-family: var(--secondary-font-family);
  font-size: 2rem;
  text-align: center;
  color: var(--main-text-color);
  transition: background-position 0.3s;
}

.btn-submit span {
  display: none;
}

.btn-submit:hover {
  background-position: -9rem 0;
}

.btn-submit:active {
  background-position: -9rem -3rem;
}

.btn-submit:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--button-color);
}


.btn-sound .unchecked span {
  background-position: -3rem -3rem;
}

.btn-sound .checked span {
  background-position: -6rem -3rem;
}

.fall {
  animation: fall linear infinite;
}

@keyframes fall {
  to {
    transform: translateY(100vh);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
